{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<a name="index"></a>
<div class="bg-1 container-fluid">
    <h1 class="title">Welcome to Capsulefy!</h1>
    <h3 class="title">(site under construction)</h3>
    <p class="text">Have you ever though about talking to your future self? Now with capsulefy you can! Send a message, pictures or videos
to the future so you can share it with yourself and whoever you want.</p>
</div>

<a name="about"></a>
<div class="bg-3 container-fluid">
    <h1 class="title">About Capsulefy</h1>
        <div class="text">
            <p>Capsulefy is an online time capsule that allows users to create an instance in our website and store their memories inside it by uploading text and files such as images and videos and select an opening date so they can be shared in the future. One of the main focus of our product is to allow users to leave a message or their memories behind in case they pass away, and for this reason, users will be able to set a timer that they can reset by periodically logging in. In case this timer expires, the capsule will be released.</p>
            <p>Furthermore, our product offers extra features such as connect time capsules to the user’s social networks accounts in order to publish a message when a capsule is released, share the capsules via email, making them private so that only people with an access link can display its contents. Users will also be able to create capsules with different modules whose content may be released gradually at different dates.</p>
            <p>Why use us? In these times were a lot of our interactions with certain people are online.
We offer you way to share your memories with them and notify them in case something happens to you.
Besides, because we provide you lots of customization option when creating a capsule, the possibilites of
what you can do with our capsules are limitless.
We also guarantee that your capsules will not disappear before being activated. Should that happen, we will
give you a full refund.
Still not convinced? You can always check out our free capsules and try for yourself.</p>
        </div>
    <div class="imageAbout">
        <img src="{% static 'images/logo.svg' %}" alt="Capsulefy"/>
    </div>
</div>

<a name="team"></a>
<div class="bg-2 container-fluid">
    <h1 class="title">Our team</h1>
    <div class="container">
        <div class="row margin-top">
            <div class="col-sm">
                <img class="img-responsive rounded profile" src="{% static 'images/pablo.jpg' %}" alt="Capsulefy"/>
                <p class="profile-text">Pablo Rebollo</p>
                <p class="profile-text">Project manager and backend developer</p>
                <div class="technologies">
                    <img class="spring" src="{% static 'images/spring.png' %}"  alt="Spring">
                    <img class="django" src="{% static 'images/django.png' %}" alt="Django">
                    <img class="php" src="{% static 'images/php.svg' %}" alt="PHP">
    </div>
    </div>
            <div class="col-sm">
                <img class="img-responsive rounded profile" src="{% static 'images/adrian.jpg' %}" alt="Capsulefy"/>
                <p class="profile-text">Adrián Cantón</p>
                <p class="profile-text">Business manager and full-stack developer</p>
                <div class="technologies">
                    <img class="django" src="{% static 'images/django.png' %}" alt="Django">
                    <img class="java" src="{% static 'images/java.png' %}"  alt="Java">
                    <img class="boostrap" src="{% static 'images/boostrap.png' %}" alt="Boostrap">
    </div>
    </div>
  </div>
        <div class="row margin-top">
            <div class="col-sm">
                <img class="img-responsive rounded profile" src="{% static 'images/daniel.jpg' %}" alt="Capsulefy"/>
                <p class="profile-text">Daniel Carpio</p>
                <p class="profile-text">Analist and frontend developer</p>
                <div class="technologies">
                    <img class="django" src="{% static 'images/django.png' %}" alt="Django">
                    <img class="javascript" src="{% static 'images/javascript.png' %}"  alt="JavaScript">
                    <img class="boostrap" src="{% static 'images/boostrap.png' %}" alt="Boostrap">
                </div>
            </div>
            <div class="col-sm">
                <img class="img-responsive rounded profile" src="{% static 'images/juan.jpg' %}" alt="Capsulefy"/>
                <p class="profile-text">Juan Rodríguez</p>
                <p class="profile-text">Requirements engineer and backend developer</p>
                <div class="technologies">
                    <img class="django" src="{% static 'images/django.png' %}" alt="Django">
                    <img class="python" src="{% static 'images/python.svg' %}"  alt="Python">
                    <img class="boostrap" src="{% static 'images/boostrap.png' %}" alt="Boostrap">
            </div>
    </div>
        </div>
        <div class="row margin-top">
            <div class="col-sm">
                <img class="img-responsive rounded profile" src="{% static 'images/rafa.jpg' %}" alt="Capsulefy"/>
                <p class="profile-text">Rafael Fresno</p>
                <p class="profile-text">Backend developer and API integration</p>
                <div class="technologies">
                    <img class="node" src="{% static 'images/node.png' %}"  alt="NodeJS">
                    <img class="django" src="{% static 'images/django.png' %}" alt="Django">
                    <img class="php" src="{% static 'images/php.svg' %}" alt="PHP">
                </div>
            </div>
        </div>
</div>
</div>


<a name="faq"></a>
<div class="bg-1 container-fluid">
    <h1 class="title">FAQ</h1>
    <div class="faq">
        <p class="font-weight-bold">Q: What can I store inside a capsule?</p>
        <p>A: You can write a message inside the capsule while creating it and upload photos and videos.</p>
    </div>
    <div class="faq">
        <p class="font-weight-bold">Q: Is there a limit on how many files can I upload to a capsule?</p>
        <p>A: We don't limit you on the number of files you can upload, but on the storage size. This means that
you may be able to upload a lot of small files but only one or two really big files such as videos. For more
information about our storage size, check out our <a href="#pricing">pricing</a>.</p>
    </div>
    <div class="faq">
        <p class="font-weight-bold">Q: Can I edit my capsules' content?</p>
        <p>A: Yes you can, as long as your capsule is not yet released to the public.</p>
    </div>

    <div class="faq">
        <p class="font-weight-bold">Q: You say a capsule can be released if I don't log in after a certain time. How does that work?</p>
        <p>A: This is an optional premium feature. You can set an interval of days,months or years after which the
capsule will be released if you haven't logged in and reset that timer, regardless of the capsule's intended release date.
You can turn this feature off whenever you want.</p>
    </div>
    <div class="faq">
        <p class="font-weight-bold">Q: If I want to gradually publish information using a time capsule, do I have to pay for multiple instances?</p>
        <p>A: Our premium service allows you to create a capsule divided in modules, each of which can have a different publication date.</p>
    </div>
    <div class="faq">
        <p class="font-weight-bold">Q: I only want to share  my capsule with a specific person(s). Is that possible?</p>
        <p>A: Our premium capsules allows you to make private capsules which can be shared via email with whoever you want.</p>
    </div>
</div>

<a name="pricing"></a>
<div class="bg-2 container-fluid">
    <h1 class="title">Pricing</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 class="text-center">Free capsule</h4>
                <p class="text">Free.</p>
                <p class="text">Up to 20 MB of space per user.</p>
                <p class="text">Social network and email integration.</p>
                <p class="text">Capsule opening can be schedule up to 1 year in the future and will remain open for 6 months</p>
            </div>
            <div class="col-sm">
                <h4 class="text-center">Premium/Modular capsule</h4>
                <p class="text">11,99€ per capsule.</p>
                <p class="text">Up to 500 MB of space per capsule.</p>
                <p class="text">Social network and email integration.</p>
                <p class="text">Optional deadman switch: Automatically release your capsule if you haven't logged in after a certain amount of time.</p>
                <p class="text">Options to create private capsules.</p>
                <p class="text">Option to create capsules and divide them into different modules that will be released at different dates.</p>
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class="bg-3 container-fluid">
    <h1 class="title">Contact us</h1>
    <p class="text">If you wish to contact us, you can send an <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#97;&#112;&#115;&#117;&#108;&#101;&#102;&#121;&#46;&#99;&#111;&#109;&#109;&#117;&#110;&#105;&#99;&#97;&#116;&#105;&#111;&#110;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">email</a> or fill this form:</p>
    <div class="form rounded">
     <form method=POST>
        {% csrf_token %}
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="Name" maxlength="50" required="" id="id_Name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" name="Email" required="" id="id_Email">
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" name="Message" rows="3" required="" id="id_Message"></textarea>
        </div>
        <input class="btn-secondary rounded" type="submit" value="Send"/>
    </form>
</div>
</div>
{% endblock %}