body{
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    width: 100%;
    max-width: 120px;
    height: auto;
}
.title{
    text-align: center;
}
.profile{
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    max-width: 200px;
}
.profile-text{
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
}
.technologies{
    padding: auto;
    text-align: center;
}
.form{
    background-color: ghostwhite;
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: 20px auto 20px auto;
    box-shadow: gainsboro 5px 5px;
    padding: 10px 10px 10px 10px;
    color: black;
}
.margin-right {
    margin-right: 10px;
}
.text {
    margin: 20px auto 20px auto;
    width: 80%;
    text-align: justify;
}
footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.imageAbout{
    text-align: center;
}
.imageAbout img{
    width: 100%;
    max-width: 500px;
}
.faq {
    padding: 15px 20px 2px 20px;
    margin: 20px auto 20px auto;
    width: 80%;
    background-color: white;
    color: #555555;
}
.faq p{
    width: 100%;
}
.spring{
    width: 100%;
    max-width: 60px;
    margin: auto;
}
.django{
    width: 100%;
    max-width: 100px;
    margin: auto;
}
.php{
    width: 100%;
    max-width: 100px;
    margin: auto;
}
.java{
    width: 100%;
    max-width: 60px;
    margin: auto;
}
.boostrap{
    width: 100%;
    max-width: 60px;
    margin: auto;
}
.javascript{
    width: 100%;
    max-width: 60px;
    margin: auto;
}
.python{
    width: 100%;
    max-width: 60px;
    margin: auto;
}
.node{
    width: 100%;
    max-width: 60px;
    margin: auto;
}

.margin-top{
    margin-top: 30px;
}